@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-Regular.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl';
  src: url('/fonts/SuisseIntl-SemiBold.woff2') format('woff2'),
    url('/fonts/SuisseIntl-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Suisse Intl Book';
  src: url('/fonts/SuisseIntl-Book.woff2') format('woff2'),
    url('/fonts/SuisseIntl-Book.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


